// Main
// ====

[role='main'] {
  @extend %body;
  @include breakpoint(45em) { @include container; }
}

.next {
  @include rhythm-padding;
  @include trailer;
  @include gutters;
  @include box-shadow(inset 0 0 2px 1px color(darkest $alt, .25));
  background: color(lightest $alt, .25);
}
.next-title, .dtstart {
  @extend %h2;
  display: inline-block;
}
.next-title { margin-right: .4em; }
.dtstart { font-weight: bold; }

.location { display: block; }
.org { font-weight: bold; }

.description {
  @include gutters;
  @include trailer(2);
}
.subtitle { @extend %h3; }
