// Main
// ====

[role='main'] {
  @extend %body;
  @include breakpoint(45em) { @include container; }
}

.next {
  @include rhythm-padding(.5, .75);
  @include trailer;
  @include gutters;
  @include box-shadow(inset 0 0 2px 1px color(darkest $alt, .25));
  background: color(lightest $alt, .25);
}
.next-title {
  @extend %alt-text;
}

.dtstart {
  @extend %h2;
  font-weight: bold;
}

.location { display: block; }
.org { font-weight: bold; }

.description {
  @include gutters;
  @include trailer;
}
.subtitle { @extend %h3; }
